{% extends 'base.html' %}
{% block content %}
<hgroup>
  <h1>Add Booking</h1>
  <p>Booking, pesan sewa</p>
</hgroup>
<form action="/booking/add" method="POST">
  {{ form.csrf_token }}
  {% if form.errors %}
    <ul class="errors">
    {% for error in form.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <div class="grid">
    <div>
      <div class="row">
        <div class="col-6">
          <label for="pemesan">
          <strong>Pemesan</strong>
          {{ form.pemesan }}
          <small>Nama pemesan/pengguna</small>
        </label>
        </div>
        <div class="col-4">
          <label for="kota">
            <strong>Kota Tujuan/Jemput</strong>
            {{ form.kota }}
          </label>            
        </div>
        <div class="col-2">
          <label for="num_hari">
            <strong>Hari?</strong>
            {{ form.num_hari }}
          </label>            
        </div>
      </div>
      <div class="grid">
        <label for="kendaraan">
          Kendaraan
          {{ form.kendaraan }}
        </label>
        <label for="harga">
          Harga Total
          {{ form.harga }}
          <small>Harga setelah nego</small>
          </label>
          <label for="kapan">
        Waktu Jemput
        {% if form.kapan.errors %}
        <ul class="errors">
        {% for error in form.kapan.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {{ form.kapan }}
        <small>Tanggal dan Jam</small>
        </label>
        </div>
      <label for="jemput">
        Alamat Jemput
        {{ form.jemput }}
      </label>
      <div class="grid">
        <input role="button" type="submit" value="Simpan">
        <span><a href="/booking" class="btn">batal</a></span>
        <p></p>
        <p></p>
      </div>
</div>
<div>
  <h2>Referensi Tarif</h2>
  <table role="grid">
    <thead>
      <tr>
        <th>Kendaraan</th>
        <th>Harga</th>
      </tr>
      <tbody>
        <tr>
          <td>Avanza</td>
          <td style="text-align:right">450.000</td>
        </tr>
      </tbody>
    </thead>
  </table>
</div>
  </div>

 
</form>
{% endblock %}