{% extends 'base.html' %}
{% block content %}
<hgroup>
  <h1><i class="bi bi-phone-vibrate"></i> Pesanan ({{ bookings|length }})</h1>
  <p>Daftar Pesanan</p>
</hgroup>
<table role="grid">
  <thead>
    <tr>
      <th>Pemesan</th>
      <th>Kendaraan</th>
      <th>Kapan/Dimana</th>
      <th>Jasa</th>
      <th>Harga</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for b in bookings %}
    <tr>
      <td>{{ b.pemesan.name }} / <a href="https://wa.me/{{ b.pemesan.phone }}?text=[WIRAAPP]%20Pesanan%20{{ b.kendaraan }}%20tanggal%20{{ b.waktu_jemput.strftime('%d %b %Y, jam %H') }}"><i class="bi bi-whatsapp"></i></a></td>
      <td>{{ b.kendaraan }}</td>
      <td>{{ b.waktu_jemput }} / {{ b.lokasi_jemput }}</td>
      <td>{{ b.jasa }}</td>
      <td>{{ b.harga }}</td>
      <td><a class='btn' href="/sewa/{{b.id}}">Sewa</a> | Batal</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}