{% extends 'base.html' %}
{% block content %}
<hgroup>
  <h1><i class="bi bi-emoji-sunglasses"></i> Supir / Driver</h1>
  <p></p>
</hgroup>
<div class="grid" style="border-bottom: solid 1px #eee;margin-bottom: 10px;">
  <span><a href="/driver/add" class="btn"><i class="bi bi-plus"></i> Tambah</a></span>
  <span class="grid"><p></p><input type="text" name="q" style="margin-bottom: 4px;"></span>
</div>
<table role="grid">
  <thead>
    <tr>
      <th>Nama</th>
      <th>HP</th>
      <th>KTP</th>
      <th>Alamat</th>
    </tr>
  </thead>
  <tbody>
    {% for d in drivers %}
    <tr>
      <td><a href="/driver/{{ d.id }}">{{ d.name }}</a></td>
      <td>{{ d.phone }}</td>
      <td>{{ d.ktp }}</td>
      <td>{{ d.addr1 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}