/* Teal Light scheme (Default) */
/* Can be forced with data-theme="light" */
details>ul>li {
  line-height: 2rem;
}

h1, h2 {
  font-weight: 300;
}
h1 i.bi {
  padding-right: 1rem;
}
.burger {
  display: none;
} 
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
:required { border-color: red;}
@media only screen and (max-width: 992px) {
  .burger {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.btn {
  border: solid 1px var(--primary);
  padding:6px 12px;
  border-radius:20px;
}
.btn:hover {
  color: white;
  background-color: var(--primary-hover);
  text-decoration: none;
}
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #FFF;
}

/* Teal Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #00897b;
    --primary-hover: #009688;
    --primary-focus: rgba(0, 137, 123, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Teal Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #00897b;
  --primary-hover: #009688;
  --primary-focus: rgba(0, 137, 123, 0.25);
  --primary-inverse: #FFF;
}

/* Teal (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --form-element-spacing-vertical: 0.2rem;
  --form-element-spacing-horizontal: 0.4rem;
  --font-weight: 300;
}

@media (min-width: 992px) {
  :root {
    --font-size: 16px;
  }
}
@media (min-width: 1200px) {
  :root {
    --font-size: 18px;
  }
}