{% extends 'base.html' %}
{% block content %}
<hgroup>
  <h1><i class="bi bi-bag-heart"></i> Edit Customer</h1>
  <small>Pengguna jasa Wiratama</small>  
</hgroup>

<form x-data="{name:'', placeholder:''}" action="/customer/{{ customer.id }}/edit" method="POST">
  {{ form.csrf_token }}
  {% if form.errors %}
    <ul class="errors">
    {% for error in form.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <div class="grid">
    <div>
      <div class="grid">
        <label for="name">
          <strong>Name</strong>
          {{ form.name(placeholder='Paijo', required=True) }}
          <small>Nama orang</small>
        </label>
        <label for="phone">
          <strong>HP (WA)</strong>
          {{ form.phone(required=True)}}
        </label>
      </div>
    <label for="addr1">
        Addr1
        {{ form.addr1 }}
      </label>
  
      <label for="addr2">
        Addr2
        {{ form.addr2 }}
      </label>
      <label for="city">
      City
      {{ form.city }}
      </label>
  </div>
    <div>
    </div>  
  </div>

  <div class="grid">
    <input role="button" type="submit" value="Submit">
    <p><a href="/customer" class="btn">batal</a></p>
    <p></p>
    <p></p>
  </div>
 
</form>
{% endblock %}