{% extends 'base.html' %}
{% block content %}
  <h2><i class="bi bi-cash me-3"></i>Kas Masuk</h2>
  <p class="text-secondary">Penerimaan dana</p>
<form action="/kas/addin" method="POST">
  {{ form.csrf_token }}
  {% if form.errors %}
    <ul class="errors">
    {% for error in form.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <div class="row mb-4">
    <div class="col">
      <label for="tanggal">
        Tanggal Transaksi
        {{ form.tanggal(class_="form-control") }}
      </label>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <label for="keterangan">
        Keterangan
        {{ form.keterangan(class_="form-control", size="45") }}
      </label> 
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <label x-data for="nilai">
          <strong>Nilai</strong>
          <input type="text" class="form-control text-end" name="nilai" x-number="|.|,|" placeholder="120.000">
      </label>  
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <label for="Sumber">
        Sumber Dana
        {{ form.sumber(class_="form-select") }}
      </label>
    </div>
    <div class="col">
      <label for="tujuan">
        Tujuan
        {{ form.tujuan(class_="form-select") }}
      </label>  
    </div>
  </div>
  </div>

  <div class="grid">
    <input role="button" type="submit" value="Submit">
    <p><a href="/driver" class="btn">batal</a></p>
    <p></p>
    <p></p>
  </div>
</form>
{% endblock %}